<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Eat Da Burger</title>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
    <link rel="stylesheet" href="./CSS/style.css" type="text/css">
</head>
<body>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <img src="http://www.tastyburger.com/wp-content/themes/tastyBurger/images/home/img-large-burger.jpg" alt="burger" id="burger-img">
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <h1>Eat-Da-Burger!</h1>
            </div>
        </div>
        <div class="row">
        </div>
        {{{body}}}
        <div class="row">
            <div class="col-md-12">
                <textarea rows="3" cols="37" id="burger-text" required placeholder="cheeseburger" maxlength="100" name="burger-name"></textarea>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <button type="submit" id="submit-btn" class="btn btn-danger">Submit Burger</button>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div>Enter a burger you want to eat. Click the "Submit" button.</div>
            </div>
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.2.1.js" integrity="sha256-DZAnKJ/6XZ9si04Hgrsxu/8s717jcIzLy3oi35EouyE=" crossorigin="anonymous"></script>
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <script src="./JS/app.js" type="text/javascript"></script>
</body>